<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
 -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
  <div class="l-page-wrapper">

    <div class="l-slider-wrap l-main-slider-wrap ">
      <section class="slider">
        <div class="flexslider loading">
          <ul class="slides">
            <li>
              <img class="lazy" src="/assets/drug_box/unsplash.jpg" />

              <div class="slider-text-wrap">
                <div class="l-slider-text">
                  <div class="slider-wrapper">
                    <h1>Sustainable hoodie cardig</h1>
                    <p>
                      Voluptate delectus minim nostrud dreamcatcher meggings. Deep v 90's enim assumenda adipisicing drinking vinegar. 
                      Deep v magna cupidatat biodiesel
                    </p>                    
                  </div><!-- slider-wrapper -->
                </div><!-- l-slider-text -->
              </div><!-- slider-text-wrap -->

            </li>

            <li>
              <img class="lazy" src="/assets/drug_box/slide2.jpg" />


              <div class="slider-text-wrap">
                <div class="l-slider-text">
                  <div class="slider-wrapper">
                    <h1>Ut enim ad minim veniam</h1>
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>   
                  </div><!-- slider-wrapper -->
                </div><!-- l-slider-text -->
              </div><!-- slider-text-wrap -->
            </li>

          </ul>
        </div>
      </section>
    </div>
