body{
	direction: rtl;
}
.center{
	text-align: center;
}
.left{
    direction: ltr;
    text-align: right;
    display: inline-block;
}

li{
    list-style: none;	
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none; 
    background: transparent;
    color: #42BBCA;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
.float{
    float:right;
}
th , td{
    text-align: center;
}
.navbar-inverse {
    border: none;
    background: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    text-transform: uppercase;
}
.navbar-nav > li > a{
    color: #FFF;
    font-size: 25px;
}

.navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #6DBBA0;
    /*background-color: red; */
}   
.center_table{
    margin-right: 110px !important;
}
#user ul li a{
    background-color: #FFFACD !important;
    font-size: 25px;
}
#user{
    padding-top: 70px;
}